{% extends 'base.html.twig' %}
{% block body %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
            scroll-behavior: smooth;
            font-family: 'Lato', sans-serif;
        }
    body{
        line-height: 1.5;


        background-repeat: no-repeat;
        background-size: cover;
        position: initial;
    }
    .card-wrapper{
        max-width: 1100px;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    img{
        width: 100%;
        display: block;
    }
    .img-display{
        overflow: hidden;
    }
    .img-showcase{
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }
    .img-showcase img{
        min-width: 100%;
    }
    .img-select{
        display: flex;
    }
    .img-item{
        margin: 0.3rem;
    }
    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3){
        margin-right: 0;
    }
    .img-item:hover{
        opacity: 0.8;
    }
    .product-content{
        padding: 2rem 1rem;
    }
    .product-title{
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }
    .product-title::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 200px;
        background: #12263a;
    }
    .product-link{
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }
    .product-link:hover{
        opacity: 0.9;
    }
    .product-rating{
        color: #ffc107;
    }
    .product-rating span{
        font-weight: 600;
        color: #252525;
    }
    .product-price{
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
    }
    .product-price span{
        font-weight: 400;
    }
    .last-price span{
        color: #f64749;
        text-decoration: line-through;
    }
    .new-price span{
        color: #256eff;
    }
    .product-detail h2{
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }
    .product-detail p{
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }
    .product-detail ul{
        margin: 1rem 0;
        font-size: 0.9rem;
    }
    .product-detail ul li{
        margin: 0;
        list-style: none;
        background: url(shoes_images/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }
    .product-detail ul li span{
        font-weight: 400;
    }
    .purchase-info{
        margin: 1.5rem 0;
    }
    .purchase-info input,
    .purchase-info .btn{
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }
    .purchase-info input{
        width: 60px;
    }
    .purchase-info .btn{
        cursor: pointer;
        color: #fff;
    }
    .purchase-info .btn:first-of-type{
        background: #256eff;
    }
    .purchase-info .btn:last-of-type{
        background: #f64749;
    }
    .purchase-info .btn:hover{
        opacity: 0.9;
    }
    .social-links{
        display: flex;
        align-items: center;
    }
    .social-links a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }


    @media screen and (min-width: 992px){
        .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }
        .card-wrapper{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product-imgs{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .product-content{
            padding-top: 0;
        }
    }
    /* Section Packages Start */
    .main-txt h1{
        text-align: center;
        margin-top: 30px;
        font-weight: 600;
        text-shadow: 0px 1px 1px black;
    }
    .main-txt h1 span{
        color: #ffa500;
    }
    .packages .card{
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    }
    .packages .card img{
        border-radius: 5px;
    }
    .packages .card .card-body{
        background: transparent;
    }
    .packages .card .card-body h3{
        font-size: 25px;
        font-weight: 600;
    }
    .packages .card .card-body p{
        font-size: 15px;
    }
    .checked{
        color: #ffa500;
    }
    .star i{
        font-size: 15px;
    }
    .packages .card .card-body h6{
        font-size: 20px;
    }
    .packages .card .card-body a{
        padding: 10px;
        text-decoration: none;
        background: #ffa500;
        color: white;
        border-radius: 5px;
    }
    .container .main-txt a{
            padding: 10px;
            text-decoration: none;
            background: #ffa500;
            color: white;
            border-radius: 5px;
        }
    .container .main-txt a:hover{
        padding: 12px;
        color: black;
        border-radius: 5px;
    }

    /* Section Packages End */
</style>
</head>
<body>


<div class="container">
    <div class="main-txt py-md-2">
        <h1 ><span><i class="fa-solid fa-tv"></i></span> TV</h1>
        <a href="{{ path('app_home') }}">Trở về</a>
    </div>
                <div class="card">
                    <!-- card left -->
                    <div class="product-imgs">
                        <div class="img-display">
                            <div class="img-showcase">
                                <img src={{ asset('image/' ~ product.Image) }} >
                            </div>
                        </div>
                    </div>
                    <!-- card right -->
                    <div class="product-content">
                        <h2 class="product-title">{{ product.getName() }}</h2>
                        <a href="#" class="product-link">Ghé thăm cửa hàng TV</a>
                        <div class="star">
                            <i class = "fa-solid fa-star checked"></i>
                            <i class = "fa-solid fa-star checked"></i>
                            <i class = "fa-solid fa-star checked"></i>
                            <i class = "fa-solid fa-star checked"></i>
                            <i class = "fa-solid fa-star "></i>
                            <span>4.0 (101)</span>
                        </div>
                        <div class="product-price">
                            {#                    <p class = "last-price">Old Price: <span>90.000.001 VNĐ</span></p>#}
                            <p class = "new-price"><strong>Giá:</strong> <strong>{{ product.getPrice() }} </strong>VNĐ</p>
                        </div>
                        <div class = "product-detail">
                            <h2><strong>Thông tin về sản phẩm: </strong></h2>
                            <p3>{{ product.getInfo() }}</p3>
                            <ul>
                                <li>* <strong>Màu :</strong> <span>Đen</span></li>
                                <li>* <strong>Hàng :</strong> <span>Còn hàng</span></li>
                                <li>* <strong>Thể loại :</strong> <span>TV</span></li>
                                <li>* <strong>Khu vực vận chuyển :</strong> <span>Trên toàn thế giới</span></li>
                                <li>* <strong>Phí vận chuyển :</strong> <span>Miễn phí</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
</div>
</body>
{% endblock %}
