<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Goolge dịch{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-g/k8K8K3YzpeIUeJ1Ruzlkjw7Qdt42FY9XtkV0u7vtTQ3fXsQ5My5LavdJgPGe5lfo25WTzoRlL06Rq8Okhbiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                text-decoration: none;
                list-style: none;
                scroll-behavior: smooth;
                font-family: 'Lato', sans-serif;
            }

            /* Navbar Start */
            #navbar{
                background: #f9f9f9;
            }
            #logo{
                font-size: 36px;
                font-weight: 550;
                color: black;
                text-shadow: 0px 1px 1px black;
                margin-bottom: 5px;
            }
            #logo span{
                color: #ffa500;
            }
            .navbar-toggler span{
                color: #ffa500;
            }
            /* Vertically centered modal */
            .navbar-nav {
                position: relative; /* Thiết lập vị trí tương đối cho menu */
            }


            .nav-item a.nav-link{
                font-size: 18px;
                font-weight: 550;
                color: black;
                letter-spacing: 1px;
                border-radius: 3px;
                transition: 0.5s ease;
            }
            .nav-item .nav-link:hover{
                background: #ffa500;
                color: white;
            }
            #navbar form button{
                background: orange;
                color: white;
                border: none;
            }
            /* Navbar End */

            /* Home Section Start */
            .home{
                width: 100%;
                height: 90vh;
                background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(Image/background\ img.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .home .content{
                text-align: center;
                padding-top: 200px;
            }
            .home .content h5{
                color: white;
                font-size: 38px;
                font-weight: 550px;
                text-shadow: 0px 1px 1px black;
            }
            .home .content h1{
                color: white;
                font-size: 70px;
                font-weight: 550;
                text-shadow: 0px 1px 1px black;
                margin-top: 5px;
            }
            .changecontent::after{
                content: ' ';
                color: #ffa500;
                text-shadow: 0px 1px 1px black;
                animation: changetext 10s infinite linear;
            }
            @keyframes changetext{
                0%{content: "France";}
                10%{content: "Spain";}
                20%{content: "United States";}
                30%{content: "China";}
                40%{content: "India";}
                50%{content: "Pakistan";}
                60%{content: "Italy";}
                70%{content: "Turkey";}
                80%{content: "Mexico";}
                90%{content: "Germany";}
                100%{content: "United kingdom";}
            }
            .home .content p{
                color: white;
                font-size: 15px;
                font-weight: 600;
                text-shadow: 0px 1px 1px black;
                margin-bottom: 30px;
                margin-top: 5px;
            }
            .home .content a{
                padding: 10px;
                background: white;
                color: black;
                letter-spacing: 2px;
                font-weight: 550;
                border-radius: 5px;
                text-decoration: none;
                transition: 0.5s;
            }
            .home .content a:hover{
                background: #ffa500;
                color: white;
            }
            @media (max-width:850px){
                .home{
                    background-position: 50%;
                }
            }
            @media (max-width:450px){
                .home .content h5{
                    font-size: 25px;
                }
                .home .content h1{
                    font-size: 38px;
                }
                .home .content p{
                    font-size: 13px;
                }
            }
            /* Home Section End */

            /* Section Book Start */
            .book{
                background: #f9f9f9;
                padding: 50px;
            }
            .main-text h1{
                text-align: center;
                text-shadow: 0px 1px 1px black;
                font-weight: 600;
            }
            .main-text h1 span{
                color: #ffa500;
            }
            .book .card{
                border-radius: 10px;
                box-shadow: 0px 5px 5px -6px black;
            }
            .book .row{
                margin-top: 30px;
            }
            .book form input{
                padding: 10px;
                color: black;
                border: none;
                outline: none;
                font-size: 15px;
                border-radius: 10px;
                box-shadow: 0px 5px 5px -6px black;
            }
            .book form textarea{
                border: none;
                border-radius: 10px;
                resize: none;
                box-shadow: 0px 5px 5px -6px black;
                height: 200px;
            }
            .book .submit{
                width: 160px;
                font-size: 16px;
                font-weight: 550;
                background: #ffa500;
                color: white;
                margin-top: 10px;
                transition: 0.5s;
            }
            .book .submit:hover{
                width: 170px;
            }
            @media (max-width:765px){
                .book{
                    padding: 0;
                }
                .main-text h1{
                    padding: 20px;
                }
            }
            /* Section Book End */





            /* Section Packages Start */
            .main-txt h1{
                text-align: center;
                margin-top: 30px;
                font-weight: 600;
                text-shadow: 0px 1px 1px black;
            }
            .main-txt h1 span{
                color: #ffa500;
            }
            .packages .card{
                border-radius: 5px;
                border: none;
                box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
            }
            .packages .card img{
                border-radius: 5px;
            }
            .packages .card .card-body{
                background: transparent;
            }
            .packages .card .card-body h3{
                font-size: 25px;
                font-weight: 600;
            }
            .packages .card .card-body p{
                font-size: 15px;
            }
            .checked{
                color: #ffa500;
            }
            .star i{
                font-size: 15px;
            }
            .packages .card .card-body h6{
                font-size: 20px;
            }
            .packages .card .card-body a{
                padding: 10px;
                text-decoration: none;
                background: #ffa500;
                color: white;
                border-radius: 5px;
            }
            /* Section Packages End */




            /* Section Services Start */
            .services{
                background: #f9f9f9;
                margin-top: 50px;
            }
            .services .card{
                box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
                border: none;
                cursor: pointer;
            }
            .services .card i{
                font-size: 80px;
                text-align: center;
                color: #ffa500;
                margin-top: 20px;
            }
            .services .card .card-body h3{
                font-weight: 600;
            }
            .services .card .card-body{
                text-align: center;
            }
            /* Section Services End */





            /* Section Gallary Start */
            .gallary{
                margin-top: 50px;
            }
            .gallary .card{
                border-radius: 10px;
                box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
                cursor: pointer;
            }
            .gallary .card img{
                border-radius: 10px;
                transition: 0.5s;
            }
            .gallary .card img:hover{
                transform: scale(1.1);
            }
            /* Section Gallary End */




            /* About Start */
            .about{
                padding: 50px;
                margin-top: 50px;
                background: #f9f9f9;
            }
            .about .card{
                border-radius: 10px;
            }
            .about .card img{
                border-radius: 10px;
            }
            .about h2{
                font-weight: 600;
                letter-spacing: 1px;
            }
            .about p{
                font-weight: 500;
            }
            #about-btn{
                width: 150px;
                height: 38px;
                border: none;
                border-radius: 5px;
                background: #ffa500;
                color: white;
                letter-spacing: 2px;
                font-weight: 550;
                transition: 0.5s ease;
                cursor: pointer;
            }
            #about-btn:hover{
                width: 170px;
            }
            @media (max-width:765px){
                .about{
                    padding: 0;
                }
            }
            /* About End */




            /* Footer Start */
            #footer{
                width: 100%;
                margin-top: 150px;
                text-align: center;
                background: #f9f9f9;
            }
            #footer h1{
                font-weight: 600;
                padding-top: 30px;
                text-shadow: 0px 0px 1px black;
            }
            #footer h1 span{
                color: #ffa500;
            }
            .social-links i{
                padding: 10px;
                border-radius: 5px;
                font-size: 20px;
                background: black;
                color: white;
                margin-left: 10px;
                margin-bottom: 10px;
                transition: 0.5s ease;
                cursor: pointer;
            }
            .social-links i:hover{
                background: #ffa500;
            }
            /* Footer End */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content {
                background-color: white;
                margin: 15% auto;
                padding: 20px;
                border-radius: 5px;
                width: 300px;
            }

        </style>
    </head>
    <body>

    {% block header %}
        <header>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}" id="logo"><span>♈Ru</span>by</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_home') }}">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home_1') }}">Tất cả các sản phẩm TV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact_new') }}">Liên hệ</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="{{ path('search') }}" method="GET" style="margin-right: 40px;">
                        <input class="form-control me-sm-0" type="search" name="keyword" placeholder="Vui lòng nhập tên sản phẩm" required>
                        <button class="btn btn-warning my-2 my-sm-0 mx-2" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="logoutContainer">
                            {% if app.user %}
                                <a class="nav-link" href="javascript:void(0);" onclick="confirmLogout()" id="logoutLink">
                                    <i class="fa-solid fa-user"></i> Đăng xuất
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="fa-solid fa-user"></i> Đăng nhập
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            <script>
                function confirmLogout() {
                    var result = confirm('Bạn có chắc chắn muốn đăng xuất?');
                    if (result) {
                        // Nếu người dùng xác nhận đăng xuất
                        window.location.href = "{{ path('app_logout') }}"; // Thay đổi đường dẫn logout tùy vào ứng dụng của bạn
                    }
                    else {
                        // Nếu người dùng hủy đăng xuất, không làm gì cả
                    }
                }
            </script>
        </header>
    {%  endblock %}

    {% block body %}
<body>
    </body>

    {% endblock %}
    </body>
</html>
