{#{% extends 'base.html.twig' %}#}



{#{% block body %}#}
{#    <nav>#}
{#        <div class="nav__logo">️🎯Ruby<span>.🇻🇳</span></div>#}
{#        <ul class="nav__links">#}
{#            <li class="link"><a href="/"></a></li>#}
{#            <li class="link"><a href="http://127.0.0.1:8000/productuser">Product</a></li>#}
{#            <li class="link"><a href="#">Review</a></li>#}
{#            <li class="link"><a href="/{{ app.user ? 'logout' : 'login' }}">#}
{#                    {{ app.user ? 'Sign out' : 'Sign in' }}#}
{#                </a></li>#}
{#        </ul>#}
{#    </nav>#}

{#    {% for product in products %}#}
{#        <div class="col">#}
{#            <div class="card h-100">#}
{#                <img src="{{ asset('image/' ~ product.getImage()) }}" class="card-img-top" alt="{{ product.getTitleProduct() }}">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ product.getName() }}</h5>#}
{#                    <p class="card-text">{{ product.get() }}</p>#}
{#                    <p class="card-text">Giá: {{ product.getPriceProduct() }}VND</p>#}
{#                    <p class="card-text">Giá: {{ product.getDiscount() }}VND</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}

{#{% endblock %}#}
