{% extends 'base.html.twig' %}

{% block title %}Tài khoản{% endblock %}

{% block body %}
    <h1><i class="fas fa-dizzy"></i>Tài khoản người dùng<i class="fas fa-dizzy"> </i></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>

                <td>

                    <a class="btn btn-warning" href="{{ path('app_user_show', {'id': user.id}) }}">Hiện</a>
{#                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}
{#                    {{ include('user/_delete_form.html.twig') }}#}
                </td>

            </tr>

        {% else %}
            <tr>
                <td colspan="5">no records found</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}



